body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.filebox input[type="file"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filebox .upload-name {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



.filebox .upload-display img {
    display: block;
    max-width: 100%;
    width: 100% \9;
    height: auto;
}

.row-left-gray{
    border:1px solid gray; 
    border-left:6px solid gray; 
    border-radius:5px; 
    padding:10px 0px; 
    margin: 2px;
}

.img-thumbnail {
    margin: 10px; 
    height: 100px; 
    width: 100px;
    border-radius: 10%;
}

.img-thumbnail-circle {
    background-color: transparent;
    /*float: left;*/
    overflow: hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.img-innerborder {
    border: 10px solid #eee;
}

.img-innerborder img { margin: -15px; vertical-align: top; }

.img-innerborder-red:hover { border-color: #e85d5d;}
.img-innerborder-green:hover { border-color: #6eb068;}
.img-innerborder-blue:hover { border-color: #62aed7;}
.img-innerborder-yellow:hover { border-color: #d2b92f;}

h4 .title {
    border-bottom: 2px solid #d2b92f;
}

.category-title {
    font-family: HYMyeongJo-Extra;
    display: inline-block;
    font-weight: bold;
}

.category-title hr {
    margin-top: 0px;
    width: 80%;
    border-width: .12em;
    border-style: solid;
}

.border-red {
    border-color: #e85d5d;
}

.border-green {
    border-color: #6eb068;
}

.border-blue {
    border-color: #62aed7;
}

.border-yellow {
    border-color: #d2b92f;
}

#main-title h4 {
    font-family: HYMyeongJo-Extra;
    font-style: italic;
    color: #ccc;
}

.vdo-youtube {
    width: 100%;
    height: auto;
}

#btnGotoTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#btnGotoTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.vdo-frame-border {
    border: 1px solid #ccc;
    border-radius: 0 1em;
    padding: 1em;
    text-align: center;
    margin: 10px;
    max-width: 300px;
    max-height: 250px;
    width: 100%;
    height: 300px;
    background-color: #fff;
}

.vdo-frame-background {
    background-color: #d2b92f;
    opacity: .8;
    border-width: 0px;
}

.vdo-youtube{
    
}




ul .list-main-title {
    width: 100%;
    color: #333;
}

ul .list-sub-title {
    width: 100%;
    margin-top: 1em; 
}

.album-list {
    width: 25%;
    float:left;
    text-align:center;  
    align-content: flex-start;  
}

.album-list ul {
    list-style: none;
}

.album-list ul li {
    color: #999;
    display: inline-block;
}

.album-list ul .list-item {
    width: 100%;
}

.album-list ul .list-description {
    text-align: justify; margin-bottom: 4em; margin-top: 1em;
}

.admin-tooltip {position: relative;display: inline-block;font-size:.9em;}
.admin-tooltip .admin-tooltiptext {visibility: hidden;width: 140px;background-color: #555;color: #fff;text-align: center;border-radius: 6px;padding: 5px 0;position: absolute;z-index: 1;bottom: 125%;left: 50%;margin-left: -60px;opacity: 0;transition: opacity 0.3s;}
.admin-tooltip .admin-tooltiptext::after {content: "";position: absolute;top: 100%;left: 50%;margin-left: -5px;border-width: 5px;border-style: solid;border-color: #555 transparent transparent transparent;}
.admin-tooltip:hover .admin-tooltiptext {visibility: visible;opacity: 1;}

.change .bar1 {-webkit-transform: rotate(-45deg) translate(-3px, 5px);transform: rotate(-45deg) translate(-3px, 5px);}
.change .bar2 {opacity: 0}
.change .bar3 {-webkit-transform: rotate(45deg) translate(-3px, -5px);transform: rotate(45deg) translate(-3px, -5px);}


@media all and (min-width: 1px) and (max-width: 367px) {
    .album-list {
        width: 300px;
    }

}

@media all and (min-width: 368px) {
    .album-list {
        width: 100%;
    }
}


@media all and (min-width: 768px) {
    .filebox .upload-display {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 0;
    }

    .album-list {
        width: 49%;
    }
}

@media all and (min-width: 992px) {
    .album-list {
        width: 25%;
    }
}

@media screen and (max-width: 400px) {
     .vdo-frame-border {
        max-width: 350px;
        max-height: 250px;
        width: 350px;
        height: 250px;
    }
}

@media screen and (min-width: 401px) and (max-width: 500px){
}

@media screen and (max-width: 600px){
}

@media screen and (min-width: 801px){
}

