@*
    @{
        Html.RenderPartial("~/Views/Artist/_Slideshow.cshtml");
    }
*@
@*Bootstrap 4 반영(2019.03.04)*@

@section header {


}

<div id="phtoGallery" class="carousel slide" data-ride="carousel" style="width: 100%;">

    <ul class="carousel-indicators">
        <li data-target="#phtoGallery" data-slide-to="0" class="active" />
        <li data-target="#phtoGallery" data-slide-to="1" />
        <li data-target="#phtoGallery" data-slide-to="2" />
        <li data-target="#phtoGallery" data-slide-to="3" />
        <li data-target="#phtoGallery" data-slide-to="4" />
        <li data-target="#phtoGallery" data-slide-to="5" />
        <li data-target="#phtoGallery" data-slide-to="6" />
        <li data-target="#phtoGallery" data-slide-to="7" />
    </ul>


    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="numbertext">1 / 8</div>
            <img src="~/Content/Images/Artist/1/ly-o-7-jm.jpg" style="width: 100%;" />
            <div class="carousel-caption">Boys Meet Evil "놓치긴 싫었어 악마의 손길을"</div>
        </div>
        <div class="carousel-item">
            <div class="numbertext">2 / 8</div>
            <img src="~/Content/Images/Artist/1/ly-o-0-bts.jpg" style="width: 100%;" />
            <div class="carousel-caption">피 땀 눈물 "나를 부드럽게 죽여줘"</div>
        </div>
        <div class="carousel-item">
            <div class="numbertext">3 / 8</div>
            <img src="~/Content/Images/Artist/1/ly-o-1-v.jpg" style="width: 100%;" />
            <div class="carousel-caption">Begin "죽을 것 같아, 형이 슬프면..."</div>
        </div>
        <div class="carousel-item">
            <div class="numbertext">4 / 8</div>
            <img src="~/Content/Images/Artist/1/ly-o-2-suga.jpg" style="width: 100%;" />
            <div class="carousel-caption">Lie "너무나 커져버린 거짓이 나를 삼키려 해"</div>
        </div>
        <div class="carousel-item">
            <div class="numbertext">5 / 8</div>
            <img src="~/Content/Images/Artist/1/ly-o-3-jk.jpg" style="width: 100%;" />
            <div class="carousel-caption">Stigma "그때 나한테 왜 그랬어?"</div>
        </div>
        <div class="carousel-item">
            <div class="numbertext">6 / 8</div>
            <img src="~/Content/Images/Artist/1/ly-o-4-rm.jpg" style="width: 100%;" />
            <div class="carousel-caption">Awake "믿는게 아냐, 버텨보는 거야"</div>
        </div>
        <div class="carousel-item">
            <div class="numbertext">7 / 8</div>
            <img src="~/Content/Images/Artist/1/ly-o-5-jin.jpg" style="width: 100%;" />
            <div class="carousel-caption">21세기 소녀 "말해 너는 강하다고, 말해 넌 충분하다고"</div>
        </div>
        <div class="carousel-item">
            <div class="numbertext">8 / 8</div>
            <img src="~/Content/Images/Artist/1/ly-o-6-jhope.jpg" style="width: 100%;" />
            <div class="carousel-caption">Wings "점점 더 무거워지는 공기를 뚫고 날아"</div>
        </div>

        <a class="carousel-control-prev" href="#phtoGallery" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
        <a class="carousel-control-next" href="#phtoGallery" data-slide="next"><span class="carousel-control-next-icon"></span></a>

    </div>
</div>
