@model BigHitEntatinment.Models.AlbumViewModel

<h4>수정 앨범 정보</h4>

<div>
    @Html.Partial("_DetailForm")
</div>


<div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>
<div class="visible-lg visible-md" style="min-height: 20px"></div>

@*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })*@