<div class="row" style="text-align: center">
    <div class="col-lg-4 order-sm-6 vdo-frame-border vdo-frame-background">
        <fieldset>
            <legend>FAKE LOVE</legend>
            <div class="vdo-youtube"><iframe id="iframe_3" name="iframe_3" width="250" height="140" src="https://www.youtube.com/embed/7C2z4GqqS5E?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
        </fieldset>
    </div>

    <div class="col-lg-4 order-sm-6 vdo-frame-border vdo-frame-background">
        <fieldset>
            <legend>DNA</legend>
            <div class="vdo-youtube"><iframe id="iframe_1" name="iframe_1" width="250" height="140" src="https://www.youtube.com/embed/MBdVXkSdhwU?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
        </fieldset>
    </div>
    <div class="col-lg-4 order-sm-6 vdo-frame-border vdo-frame-background">
        <fieldset>
            <legend>불타오르네</legend>
            <div class="vdo-youtube"><iframe id="iframe_2" name="iframe_2" width="250" height="140" src="https://www.youtube.com/embed/ALj5MKjy2BU?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
        </fieldset>
    </div>
</div>
<div class="clearfix"></div>